/* USING "LESS" CAN"T JUST COPY PASTE CLICK VIEW COMPILED */
* {
  margin: 0;
  padding: 0;
}
html {
  position: relative;
}
body {
  background-color: #eee;
  background: linear-gradient(0deg, #dddddd, #ffffff);
  font-family: 'Open Sans', sans-serif;
}
.cont {
  width: 1000px;
  margin: auto;
}
.logo {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  font-size: 2rem;
  background-color: #F55F4E;
  display: inline-block;
  color: #fff;
}
.handshake_btn {
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  transition: opacity 1s, background-color 1s;
  color: #fff;
  opacity: .6;     
  float: right;
  font-weight: 100;
  font-size: 11px;
  text-align: center;
  padding-bottom: 2px;
}

.handshake_icon {
    height: 30px;
    padding: 7px;
    border-radius: 2px;
    margin: 12px;
    margin-bottom: 4px;
    border: 1px solid #fff;


}

.handshake_btn:hover {
  background-color: rgba(0,0,0,.4);
  opacity: 1;
}
.logo a {
    font-size: 2rem;
    color: #fff;
  text-decoration: none;
}

.nav {
  padding: 20px;
  padding-right: 0;
  font-size: 15px;
  float: right;
  margin-top: 30px;
}
.nav li {
  display: inline-block;
}
.nav li a {
  text-decoration: none;
  color: #333;
  padding: 9px 13px;
}
.nav li a:hover {
  text-decoration: underline;
}
nav li a.selected {
  color: #F55F4E;
  font-weight: 600;
}
nav li a.selected:hover {
  text-decoration: none;
}
.main {
  border-top: 3px solid #F55F4E;
  position: relative;
  background-color: #fff;
  min-height: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* overflow: auto; */
}
.main::after {
  content: ' ';
  display: table;
}
/* Profile specific */
.profile_bg {
  position: relative;
  height: 240px;
  background: url(https://images.unsplash.com/photo-1418386767268-77cdab4edcaa?q=80&fm=jpg&s=a0b580b39c23e884da525559be88d2ff);
  background-color: #ddd;
  background-position: 50% 50%;
  background-size: cover;
}
.profile_pic {
  position: absolute;
  height: 190px;
  width: 190px;
  background-color: black;
  /*background-image: url(http://2.bp.blogspot.com/-KuvLV2NopIo/UCUcVLzV3II/AAAAAAAAERU/1noFcpIfYP8/s1600/Avatar+6.png);*/
    /*background-image: url('/rsz_35ba8cc.png');*/
  border: 3px solid #fff;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about .name_sect {
  text-align: center;
}
.about .name_sect .name {
  position: relative;
  text-transform: uppercase;
  margin: auto;
  margin-top: 50px;
  z-index: 1;
  min-width: 360px;
  display: inline-block;
}
.about .name_sect .name .text {
  white-space: nowrap;
  text-align: center;
  padding: 8px 15px;
  box-sizing: border-box;
  background-color: #F55F4E;
  color: #fff;
  font-size: 2rem;
}
.about .name_sect .name .line {
  height: 1px;
  width: 700px;
  background-color: #ddd;
  position: absolute;
  left: -50%;
  top: 50%;
  z-index: -11;
}
.stats {
  overflow: auto;
  clear: both;
}
.stats .num {
  font-size: 70px;
  height: 100px;
  text-align: center;
}
.stats > div {
  text-align: center;
  width: calc(17.8%);
  float: left;
  margin: 10px;
}
.stats .divider {
  width: 188px;
}
.stats .title {
  margin-top: 10px;
  font-size: 25px;
}
.two_columns {
  margin-top: 50px;
  overflow: auto;
}
.right {
  margin: 0 10px;
  width: calc(30% - 20px);
  float: right;
}
.notable {
  border: 1px solid #ddd;
}
.left {
  padding: 20px;
  width: 70%;
  float: left;
}
.left,
.right {
  box-sizing: border-box;
  min-height: 500px;
}
.left h3 {
  margin-bottom: 30px;
}
.left .token {
  position: relative;
  padding: 10px;
  overflow: auto;
  border-bottom: 1px solid #aaa;
}
.left .token:last-of-type {
  border-bottom: none;
}
.left .token .num,
.left .token .times {
  line-height: 50px;
}
.left .token .num {
  color: #aaa;
}
.left .token .times {
  color: #ddd;
}
.left .token .word {
  margin-right: 10px;
  font-weight: 900;
  text-align: center;
  border: 2px solid gold;
  border-radius: 4px;
  padding: 0 9px;
  float: left;
  color: #000;
  background-color: yellow;
  height: 50px;
  line-height: 50px;
  min-width: 50px;
  box-sizing: border-box;
}
.left .token .people {
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  right: 0;
  width: 500px;
}
.left .token .people .person {
  height: 100%;
  width: 50px;
  background-color: #ddd;
  display: inline-block;
  float: right;
  margin: 0 5px;
}
.right {
  margin-bottom: 70px;
  margin-top: 20px;
}
.right .title {
  padding: 20px;
}
.right .person {
  background-color: #F55F4E;
  padding: 4px;
  color: #fff;
  overflow: auto;
  margin: 8px;
  box-sizing: border-box;
}
.right .person .info {
  padding: 8px;
  display: inline-block;
  width: 75%;
}
.right .person .img {
  vertical-align: top;
  height: 40px;
  width: 40px;
  background-color: #fff;
  display: inline-block;
}
.right .person .name {
  box-sizing: border-box;
}
.right .person .credibility {
  box-sizing: border-box;
  float: right;
  display: block;
  text-align: right;
}
.left .show_more {
  width: 100px;
  background-color: #eee;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
}
.left .show_more:hover {
  background-color: #F55F4E;
  color: #fff;
  cursor: pointer;
}
.right .buttons {
  margin-bottom: 50px;
}
.right .buttons .button {
  user-select: none;
  box-shadow: 0 8px 0 #d4bd42, 0 15px 20px rgba(0, 0, 0, 0.35);
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
  cursor: pointer;
  padding: 20px;
  border-radius: 4px;
  background-color: gold;
  width: 170px;
  margin: auto;
  text-align: center;
}
.right .buttons .button:not(:first-child) {
  margin-top: 20px;
}
.right .buttons .button:active,
.right .buttons .button:focus {
  transform: translate(0, 4px);
  box-shadow: 0 4px 0 #d4bd42, 0 5px 10px rgba(0, 0, 0, 0.3);
}
.right .buttons .shake {
      border: none;
    outline: none;
    font-size: 16px;
    display: block;
    box-sizing: content-box;
  box-shadow: 0 8px 0 #c54e41, 0 15px 20px rgba(0, 0, 0, 0.35);
  background-color: #F55F4E;
  color: #fff;
}
.right .buttons .shake:active,
.right .buttons .shake:focus {
  box-shadow: 0 4px 0 #c54e41, 0 5px 10px rgba(0, 0, 0, 0.3);
}
.to_top {
  margin-top: 20px;
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}
.to_top .box {
  color: red;
  display: inline-block;
  text-align: center;
  width: 100px;
  padding: 10px;
  background-color: #DFDFDF;
}
.to_top .line {
  z-index: -1;
  position: absolute;
  width: 70%;
  max-width: 1200px;
  min-width: 600px  ;
  height: 1px;
  background-color: #C1C1C1;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.token_box, .notification_box  {
  display: none;
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
}
.token_box .title {
  padding: 25px;
  background-color: #F55F4E;
  color: #fff;
}
.token_box span{
  text-transform: capitalize;
}
.token_box .box {
  padding: 20px;
}
.token_box select {
  padding: 20px;
  font-size: 1.4rem;
}
.token_box .tags {
  column-count: 3;
  margin-bottom: 30px;
}
.token_box .tags label {
  display: block;
}
.token_box .instruction {
  font-weight: 500;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
.token_box .dialog, .notification_box .dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: #fff;
}

.notification_box .dialog {
  height: auto;
}
.token_box .btn_give {
  padding: 25px;
  background-color: gold;
  font-weight: 900;
  text-align: center;
  font-size: 30px;
  width: 200px;
  margin: auto;
  margin-top: 50px;
  border: none;
  display: inherit;
}




.token_box .btn_give  {
  user-select: none;
  box-shadow: 0 8px 0 #d4bd42, 0 15px 20px rgba(0, 0, 0, 0.35);
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
  cursor: pointer;
  border-radius: 4px;
}

.token_box .btn_give:active,
.token_box .btn_give:focus {
  transform: translate(0, 4px);
  box-shadow: 0 4px 0 #d4bd42, 0 5px 10px rgba(0, 0, 0, 0.3);
}











.notification_box .user {
  padding: 9px;
  margin: 11px;
  border-radius: 3px;
  overflow: auto;
  border: 1px solid #aaa;
  line-height: 35px;
}
.notification_box .img {
  height: 35px;
  width: 35px;
  background-color: #000;
  overflow: hidden;
}

.notification_box .name {
  margin-left: 6px;
}
.notification_box .img, .notification_box .name {
  float: left;
}
/*
.notification_box .btns > div {
  background-color: #F55F4E;
  padding: 0 8px;
  color: #fff;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
}

.notification_box .btns input {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16PX;
  outline: none;
}
.notification_box .btns > div:last-of-type input {
  color: #000;
}
.notification_box .btns > div:last-of-type {
  background-color: #ddd;
  color: #000;
}*/
.notification_box .btns input {
    background-color: #F55F4E;
    padding: 8px 9px;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 2px;
    color: #fff;
}
.notification_box .btns > div:last-of-type input {
  background-color: #DEDEDE;
  color: #000;
}
.notification_box .btns {
  margin-right: 6px;
  float: right;
}
.notification_box .btns > div {
  display: inline-block;
}