<%= form_tag(user_word_tokens_path, remote: true) do %>
 	<div class="instruction">Choose any amount of Word Tokens that you want to give..</div>
	<div class="tags">
        <% WordToken.all.each do |token| %>
        <label>
	        <%= check_box_tag(token.label, token.id)  %>
	        <%= token.label %>
	    </label>
         <% end %> 
 	</div>
	<div class="instruction">Once you have one or more tokens selected click Vouch</div> 
 	<div> <%= submit_tag("Vouch", class: "btn_give") %> </div>
<% end %>
