<link rel="stylesheet" type="text/css" href="main.css">

<div class="cont main">
  <div class="hero">
    <div class="text">
      <div class="rotated">
        WordToken is A Network For Credibility. The simple solution that provides Trust & Legitamacy for the interents.
      </div>
    </div>



    <div class="search">
     <!--  <input type="text" placeholder='Find Someone' /> -->
    <%= form_tag users_path, :method => :get do %>
      <%= text_field_tag :search, params[:search] %>
      
    <% end %>
    </div>



    <div class="action">
      <div class="circle">
        <% if user_signed_in? %>
        <%= link_to "Let's Trust", current_user %>
      <% else %>
        <%= link_to "Let's Trust", signup_path %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="features">
    <div class="feature">
      <div class="img">
        <img src="http://cdn.flaticon.com/svg/32/32441.svg" />
      </div>
      <div class="text">
        <div class="title">Headline for Feature 3</div>
        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil officiis dolor vitae accusantium quae impedit a labore quaerat voluptatibus cum, molestiae accusamus, perspiciatis neque, soluta ad velit, earum voluptatem unde!</div>
      </div>
    </div>
    <div class="feature">
      <div class="img">
        <img src="http://cdn.flaticon.com/svg/46/46749.svg" />
      </div>
      <div class="text">
        <div class="title">Headline for Feature 3</div>
        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil officiis dolor vitae accusantium quae impedit a labore quaerat voluptatibus cum, molestiae accusamus, perspiciatis neque, soluta ad velit, earum voluptatem unde!</div>
      </div>
    </div>
    <div class="feature">
      <div class="img">
        <img src="http://cdn.flaticon.com/svg/46/46778.svg" />
      </div>
      <div class="text">
        <div class="title">Headline for Feature 3</div>
        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil officiis dolor vitae accusantium quae impedit a labore quaerat voluptatibus cum, molestiae accusamus, perspiciatis neque, soluta ad velit, earum voluptatem unde!</div>
      </div>
    </div>
    <div class="feature">
      <div class="img">
        <img src="http://cdn.flaticon.com/svg/71/71424.svg" />
      </div>
      <div class="text">
        <div class="title">Headline for Feature 3</div>
        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil officiis dolor vitae accusantium quae impedit a labore quaerat voluptatibus cum, molestiae accusamus, perspiciatis neque, soluta ad velit, earum voluptatem unde!</div>
      </div>
    </div>
  </div>
</div>
<div class="to_top">
  <div class="line"></div>
  <div class="box">Go to Top</div>
</div>
<script src="/main.js"></script>