
<% content_for :header_style do %>
  <link rel="stylesheet" type="text/css" href="/map.css">
<% end %>


<div class="cont main">
  <p id="title">Browse by Map Coming Soon</p>
  <p class="desc">Quickly Find People with Certain Skills and Qualities around you!</p>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31768.650381656087!2d-73.98120329630464!3d40.691529300934725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1444530101816" width="600" height="450" frameborder="0" style="border:0"
    allowfullscreen></iframe>

  </div>
</div>